
<div class="">
    <div class="Header__logo">
        <img src="https://www.nodehill.com/images/nodehill.jpg" class="img-fluid" alt="Mrs. Marper" />
    </div>
    <div class="">
        <h1>Mrs. Marper Dashboard</h1>
    </div>
    </div>
    <div class="">
        
        <div class="dropend">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                My Projects
            </button>
            <ul id="project-list" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                
            </ul>
        </div>

        <!-- <button id="add-project">Add Project</button> -->
        <!-- <button id="files">My projects</button> -->
    </div>
    
    <!-- Insert a textEditor for the projects -->
    <div class="mt-5">
        <textarea name="content" id="file-input" cols="66" rows="15"></textarea>
    </div>
    
</div>
